
div{
    background-color: red;
    max-width:400px ;
    display: block;
    margin: 15px;
    width: fit-content;
    padding: 15px;

}
div.one{
    background-color: red;
    max-width:400px ;
    display: block;


}
div.three{
    background-color: red;
    max-width:400px ;
    display: block;

}
div.four{
    background-color: red;
    max-width:400px ;
    display: block;
    max-height: 40px ;
    overflow: hidden;

}
