 div{
    width:800px ;
    text-align: center;
    display: inline-block;

} 
div.first{

    width:calc(800 ) ;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #eee;
    display: inline-block;
  
}
div.second{

    width:calc((800px - 30px) / 2) ;
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
    text-align: center;
    background-color: #eee;

}
div.thirt{

    width:calc((800px - 45px) / 3) ;
    margin-left: 15px;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    background-color: #eee;
}
div.fourth{

    width:calc((800px - 60px) / 4) ;
    margin-left: 15px;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    background-color: #eee;

}
.my{
    background-color: black;
    width: 1000px;

}